



















































































































































































































































































































































































.xianEditor > *[data-v-04c2046b]{
  box-sizing: border-box;
}
.xianEditor[data-v-04c2046b]{
  font-family: 'Microsoft YaHei';
  font-size: 16px;
  text-align: left;

  display: inline-block;
  position: relative;

  --border-color: #cfcfcf;
}
.wrap[data-v-04c2046b]{
  border: 1px solid var(--border-color);
  position: relative;
  overflow: hidden;
}
.editor[data-v-04c2046b]{
  position: relative;
  min-height: 100%;
  background: #fff;
  pointer-events: none;
}
.isFocused[data-v-04c2046b]::before{
  content: '|';
  position: absolute;
  top: var(--y);
  left: var(--x);
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: slidein;
}
.back[data-v-04c2046b]{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.placeholder[data-v-04c2046b]{
  display: inline-block;
  text-align: center;
}
.math_tag[data-v-04c2046b]{
  color: #595959;
  background: #cecece;
  border-radius: 0.2em;
}

@keyframes slidein {
  0%{
    opacity: 1;
  }
  49%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}



































.icons *[data-v-7b124cdc] {
  box-sizing: border-box;
}
.icons[data-v-7b124cdc] {
  border: 1px solid var(--border-color);
  border-bottom-width: 0px;
  background: #f3f3f3;
}
.icon[data-v-7b124cdc] {
  line-height: 1.6em;
  min-width: 1.42em;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;

  margin-right: 4px;
  cursor: pointer;
}

